*{
box-sizing: border-box;
}
body{

  background:url("./images/WorldMap-World.jpg") no-repeat center center fixed;

  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.displayContainer{
  font-family: 'Calligraffitti';
  font-weight: bold;
  font-size: 18px;
  display: flex;
  padding-top: 75px;
}
.topBar{
  background: #F5CA53;
  background-color: rgba(4, 3, 0, 0.6);
  padding: 10px;
  width: 560px;
}
label{
  color: white;
}
#levelDropdown{
  background: white;
}
#locationDropdown{
  background: white
}
#dropdown{
  background: white
}
.zoneDisplay{
  background:url("./images/53b444ea99a7b8c7e90631ea6e81e877.jpg") no-repeat center center fixed;  border: 5px solid black;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  width: 400px;
  height: 300px  auto;
  padding: 10px;
  margin: 10px;
  visibility: hidden;
}


.display{
  background:url("./images/53b444ea99a7b8c7e90631ea6e81e877.jpg") no-repeat center center fixed;  border: 5px solid black;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  border: 5px solid black;
  width: 400px;
  height: 300px  auto;
  padding: 10px;
  margin: 10px;
  visibility: hidden;
}
